﻿<head>
    <meta charset="utf-8" />
    <title>[CHAOS CODE 2] Lords of Mars</title>
    <link rel="stylesheet" href="app.css" type="text/css" />
</head>
<body style="height: 100%; margin: 0; cursor: crosshair; position: relative">
    <canvas id="main-canvas" style="display: block; position: absolute"></canvas>
    <button id="update-weapon" style="position: absolute; top: 5px; left: 70px;"></button>

    <script src="app.js"></script>
</body>